body { font-family: 'Poppins', sans-serif; 
}


/* Marquee animation */
@keyframes slidePremium {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-40%);
  }
}

.marquee {
  animation: slidePremium 25s linear infinite alternate;
}
.marquee:hover {
  animation-play-state: paused;
}
